# config.jsonをリポジトリに含めない
config.json
*.csv
*.gpkg
*.gpkg.png

# Node / Tauri
node_modules/
/dist
/src-tauri/target/
/src-tauri/Cargo.lock
/src-tauri/gen/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/settings.json
